@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    background-color: lightgray;
}
// Heroes list

.lotcards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    background-position: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    margin: 1em;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .name {
    position: absolute;
    left: 30px;
    bottom: 120px;
    font-size: 30px;
    color: red;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .clickhere {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: red;
    font-size: 13px;
    transition: all linear 0.25s;
}

.poster{
	max-height: 100%;
    object-fit: cover;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.poster-modal {
    max-width: 400px;
}

.profile-card-2:hover .name {
    bottom: 120px;
    font-size: 50px;
}

.profile-card-2:hover .clickhere{
    bottom: 30px;
    font-size: 30px;
}

// Modal cards

body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 16px
}

.modal-content {
    border-radius: 1rem;
    font-size: 30px;
}

.modal-content:hover {
    box-shadow: 2px 2px 2px black;
        img {
            filter: none;
    }
}

.fa {
    color: #2b84be;
    font-size: 90px;
    padding: 30px 0px
}

.b1 {
    background-color: #2b84be;
    box-shadow: 0px 4px #337095;
    font-size: 17px
}

.r3 {
    color: #c1c1c1;
    font-weight: 500
}

a,
a:hover {
    text-decoration: none
}