@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
    background-color: lightgray;
    font-family: Viga;
}

.navbar {
background-color: #323c81;
box-shadow: 0px 10px 5px #0f1f3d;
}

.navbar-brand{
    font-size: 30px;
    color: white;
    &:hover {
        color:white;
        opacity: 0.6;
    }
}

.button{
font-size: 35px;
    padding-top: 30px;
color: lightblue;
border: none;
background-color: #323c81;
    margin-left:5em;
    &:hover{
        color:white;
    }
}

.button:focus,.button:active {            /*the collapse creates an unwanted blue frame, it cancels the frame*/
    outline: none !important;
    box-shadow: none;
}

.punchline{

z-index: 1;
height: 500px;
background: rgb(198,58,79);
background: linear-gradient(90deg, rgba(198,58,79,1) 0%, rgba(255,0,142,1) 100%);
clip-path: polygon(0 0, 50% 0, 41% 70%, 0 100%);
font-family: Bangers;
font-size: 50pt;
color: white;
overflow-wrap: wrap;
text-align: left;
align-content: center;
padding-top: 30px;
    padding-left:30px;

}

.modal-connection {
    h5 {
        font-family: Bangers;
        font-size: 3em;
    }
    input {
    }
    .btn {
        margin: 1em;
        background-color:#FFC300;
    }
}

.new-user {
    margin-top: 10em;
    background-color: white;
    h1 {
        font-family: Bangers;
        font-size: 3em;
    }
    .btn {
        margin: 1em;
        background-color:#FFC300;
    }

}
.nav-item {
    width: 80vw;
}

.profil-info {
    .nav-link {
        float: right;
        color: white;
        &:hover {
            color: lightblue;
        }
    }
}


    // Heroes list

    .heroes-container {
        max-width: 100vw;
        margin: auto;
        h1{
            font-family: Bangers;
            font-size: 5em;
        }
        .form-group{
            width:500px;
            margin: auto;
            margin-bottom: 5em;
            .label {
                display: none;
                color : red;
            }
        }
        .search-text {
            margin-top: 5em;
        }
    }

    .lotcards {
        margin-left:15%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .profile-card-2 {
            width: 25%;
            height: 600px;
            background-color: #FFF;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            position: relative;
            cursor: pointer;
            border-radius: 10px;
            margin: 1em;
        }
    }


    .profile-card-2 img {
        transition: all linear 0.25s;
        filter: contrast(150%);
    }

    .profile-card-2 .name {
        position: absolute;
        left: 30px;
        bottom: 120px;
        font-size: 30px;
        color:#FFFFFF;
        text-shadow: 4px 4px 6px black;
        font-weight: bold;
        transition: all linear 0.25s;
    }

    .profile-card-2 .profile-icons {
        position: absolute;
        bottom: 30px;
        right: 30px;
        color: #FFF;
        transition: all linear 0.25s;
    }

    .profile-card-2 .clickhere {
        position: absolute;
        bottom: 30px;
        color:#FFFFFF;
        text-shadow: 4px 4px 6px black;
        left: 30px;
        font-size: 13px;
        transition: all linear 0.25s;
    }

    .poster{
        max-height: 100%;
        object-fit: cover;
    }

    .btn-heroes {
        background-color:#323c81;
        color:white;
    }


    .profile-card-2:hover {
        img {
            filter: grayscale(100%);
            opacity: 0.8;
        }
        .name {
            bottom: 120px;
            font-size: 50px;
            color:#FFC300;
        }
        .clickhere{
            bottom: 30px;
            font-size: 30px;
            color:#FFC300;
        }
        .btn-heroes {
            background-color: #FFC300;
            color:black;
        }
    }


    .poster-modal {
        max-width: 400px;
    }




    // Modal cards

    .heroes-container {
        place-items: center;
        height: 100vh;
        text-align: center;
        font-size: 16px;
        .modal-heroes {
            border-radius: 1rem;
            font-size: 30px;
            background-color: #0b182e;
        }
        .modal img{
            filter: grayscale(0%);
        }

        .modal-heroes:hover {
            box-shadow: 2px 2px 2px black;
        }
        .stats-base-assoc{
            font-size:0.8em;
            h4, h5 {
                font-size: 1.2em;
                text-decoration: underline;
                padding-top:1em;
            }
        }
    }

    //Ticket page

    .form-ticket {
        background: rgb(198,58,79);
        background: linear-gradient(90deg, rgba(198,58,79,1) 0%, rgba(255,0,142,1) 100%);
        font-size:2em;
        z-index: 10;
        height: 500px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        color: white;
        text-align: left;
        align-content: center;
        padding: 30px 5em 25em 5em;
        margin-top: 3em;
        margin-bottom:2em;

    }

    //Success page

.success {
    text-align: center;
    padding: 40px 0;
    h1 {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }
    p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size:20px;
        margin: 0;
    }
    i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
    }
    .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
    }
    .check-box {
        border-radius:200px;
        height:200px;
        width:200px;
        background: #F8FAF5;
        margin: auto;
    }
}

