{% extends 'base.html.twig' %}
{% block title %}La liste des Heros{% endblock %}
{% block body %}
    <div class="container">
        <div class="lotcards">
            {% for hero in heroes %}
                <div class="profile-card-2">
                    <img src="{{ hero.image }}" class="poster align-self-center">
                    <div class="name">{{ hero.name }}</div>
                    <div class="clickhere">
                        <p>Pour en savoir plus</br></p>
                        <section>
                            <div class="modal_open button ">
                                Cliquez-ici
                            </div>
                        </section>
                        <div class="modal">
                            <div class="modal_close main">
                                <i class="fas fa-times"></i>
                            </div>
                            <img src="https://images-na.ssl-images-amazon.com/images/I/51DILRGk9SL._AC_SX425_.jpg">
                            <div class="copy">
                                <div class="stats">
                                    <p>Int : 100</p>
                                    <p>Int : 100</p>
                                    <p>Int : 100</p>
                                    <p>Int : 100</p>
                                    <p>Int : 100</p>				
                                </div>
                                <div class="base-team">
                                    <p>base : ici</p>
                                    <p>company : league</p>
                                </div>
                            </div>
                        <div class="modal_overlay"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}