{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}
{% block javascripts %}


{% endblock %}
{% block body %}
<div>
    <div class="punchline">
        <p class="punchline">Pas de place pour l'imprévu <br>avec Delivheroes <br>vos soucis s'envole</p>
    </div>
    <img class="us1img" src="{{ asset('build/images/us1.png') }}">        
    <div class="us1">    
        <p class="us1"> Vous avez un soucis a regler? <br> Un vilain a botter?<br> Rdv sur notre site!
    </div>
      <img class="us2img" src="{{ asset('build/images/us2.png') }}">
    <div class="us2">
        <p class="us2">Inscrivez-vous et remplissez le formulaire, <br> nous vous proposerons les heros <br> les plus adaptés a votre situation <br> et a votre budget!
    </div>  
    <img class="us3img" src="{{ asset('build/images/yavulk.png') }}">
    <div  class="us3">
        <img class="us3img" src="">
        <p class="us3">Le hero choisi est envoyé directement chez vous!<br>
    </div>  
</div>


    
{% endblock %}