{% extends 'base.html.twig' %}


{% block title %}Home{% endblock %}

{% block body %}
    {% for hero in heroes %}
        {# {{hero.name}} #}
        <img src="{{hero.image}}">
        {# {% for key, powerstats in hero.powerstats %}
            <li> {{key}} {{powerstats}}</li>
        {# {% endfor %} #} #}
    {% endfor %} 
{% endblock %}