{% extends 'base.html.twig' %}

{% block body %}

<div class="success">
<div class="card success-card">
    <div class="check-box">
        <i class="checkmark">✓</i>
    </div>
    <h1>Réservation passée !</h1>
    <p>Notre héro a été averti de votre commande et se prépare à vous venir en aide</p>
</div>
</div>
</html>

{% endblock %}