{% extends 'base.html.twig' %}

{% block title %}request{% endblock %}

{% block body %}
{{ form(form) }}
    <button class="btn-primary" type="submit">
        Demande d'intervention
    </button>
{% endblock %}