{% extends 'base.html.twig' %}

{% block title %}request{% endblock %}

{% block body %}
    <div class="container form-ticket">
        {{ form(form) }}
        <button class="btn-primary" type="submit">
            Demande d'intervention
        </button>
    </div>

{% endblock %}