{% extends 'base.html.twig' %}

{% block title %}request{% endblock %}

{% block body %}
    <div class="container form-ticket">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
            <input type='submit' class="btn-primary"  value="Réserve ton héro">
        {{ form_end(form) }}
    </div>
{% endblock %}